.Third {
    margin: 0;
    padding: 0;
    background-color: rgb(215, 155, 91);
    color: rgb(66, 58, 42); /*Subject to change*/
}
header {
    text-align: center;
    font-size: 2em;
}
nav {
    width: 100%;
    padding: 0px;
    left: 0;
    margin: 0;
}
nav ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9b7703;
    display: flex; 
}
nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #271c0f;
}
.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.TierBox {
    position: relative;
    flex-flow: row wrap;
    text-align: center;
    display: inline-block;
    width: 50%;
    max-width: 360px;
    height: 50%;
    height: 360px;
    padding: 5px;
    margin: 1em;
    line-height: 100px;
    -webkit-text-stroke: 1.5px rgb(48, 30, 8);
}
.TierBox a{
    color: rgb(241, 218, 49);
}
.TierBox a:visited{
    color: rgb(255, 192, 75)
}
.TierBox .layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}
#YellowBox {
    background-color: gold;
    border: 6px solid rgb(132, 100, 12);
}
#RedBox {
    background-color: rgb(234, 88, 88);
    border: 6px solid rgb(192, 61, 47);
}
#MozzBox {
    background-color: rgb(191, 150, 75);
    border: 6px solid rgb(144, 115, 58);
}
#ParBox {
    background-color: rgb(219, 194, 148);
    border: 6px solid rgb(165, 141, 93);
}
#ChedBox {
    background-color: rgb(250, 162, 29);
    border: 6px solid rgb(216, 132, 5);
}
#White3Box {
    background-color: rgb(185, 185, 185);
    border: 6px solid rgb(129, 129, 129);
}
#WhiteBox {
    background-color: rgb(255, 255, 255);
    border: 6px solid rgb(185, 185, 185);
}
#JackBox {
    background-color: rgb(225, 167, 58);
    border: 6px solid rgb(180, 135, 51);
}
#White2Box {
    background-color: rgb(255, 248, 203);
    border: 6px solid rgb(190, 181, 136);
}
#BlueBox {
        background-color: rgb(69, 107, 189);
    border: 6px solid rgb(9, 26, 214);
}
.MiscBox {
    background-color: rgb(215, 155, 91);
    border: 6px solid rgb(66, 58, 42);
    margin: 2%;
    height: fit-content;
    align-self: center;
    justify-content: center;
}
.ChesImg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
section {
    float: left;
    display: flex;
    flex-direction: column;
    width:50%;
    height:100%;
    gap:10px;
}
aside {
    float: right;
    display: flex;
    flex-direction: column;
    width:50%;
    height:100%;
    gap:10px;
}