.Third {
    background-color: rgb(184, 196, 104);
    color: rgb(66, 58, 42); /*Subject to change*/
}
header {
    text-align: center;
    font-size: 2em;
}
nav {
    display: flex;
    background-color: grey;
    padding: 10px;
    left: 0;
    margin: 0;
    text-align: center; /**do note that it might be long for phones so figure out implementation of
    a scroll bar?**/
}
.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.TierBox {
    background-color: gold;
    border: 6px solid rgb(123, 128, 55);
    padding: 5px;
    width: 300px;
    height: 300px;
    margin: 10px;
    line-height: 100px;
    text-align: center
    
}
.MiscBox {
    background-color: rgb(127, 203, 76);
    border: 6px solid rgb(123, 128, 55);
    margin: 2%;
    height: fit-content;
    width: 80%;
}
.ChesImg {
    max-width: 50%;
    max-height: 50%;
    /*Each Img should be 360 by 360 base
    Fix up rule to actually apply itself for every img*/
}
/*this is for Fun.html*/